.passion {
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    background-color: white;

}

.passion img {
    margin: 3%;
    width: 94%;
    height: 200px;
    border-radius: 15px;

}

.passion-details {
    padding: 1% 5%;

}

.passion-details h4 {
    margin: 0;
}

.select-btn {
    width: 90%;
    background-color: navy;
    padding: 5% 10%;
    margin: 5%;
    border-radius: 15px;
    color: aliceblue;
    border: none;
}

.select-btn:hover {
    background-color: green;
    cursor: pointer;
}