.header {
    background-color: #1C2B35;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    color: coral;
}